{% extends "base.html" %}

{% block title %}Reset Password | Student Portal{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reg1.css') }}">
{% endblock %}

{% block content %}

<div class="container">

    <!-- Heading -->

    <div class="badge">

        <button id="main-heading">
            Reset Password
        </button>

        <p class="sub-main-heading">
            Create a new secure password for your account
        </p>

    </div>

    <!-- Flash Messages -->

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}

    <div class="alert-box">

        <p class="alert alert-{{ category }}">
            {{ message }}
        </p>

    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <form class="form-style"
          method="POST"
          action="{{ url_for('forgot.reset_password') }}">
        <input type="hidden"
           name="csrf_token"
           value="{{ csrf_token() }}">
        <!-- New Password -->

        <div class="mb-3">

            <div class="inner-fields">

                <label for="password">

                    <p>New Password</p>

                    <span>*</span>

                </label>

                <div class="input-field">

                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter New Password">

                    <i class="fa-solid fa-eye" id="togglePassword"></i>

                </div>

            </div>

            <div class="err-block">

                <p class="err" id="pass-err"></p>

            </div>

        </div>

        <!-- Confirm Password -->

        <div class="mb-3">

            <div class="inner-fields">

                <label for="confirm_password">

                    <p>Confirm Password</p>

                    <span>*</span>

                </label>

                <div class="input-field">

                    <input
                        type="password"
                        id="confirm_password"
                        name="confirm_password"
                        class="form-control"
                        placeholder="Confirm New Password">

                    <i class="fa-solid fa-eye" id="toggleConfirmPassword"></i>

                </div>

            </div>

            <div class="err-block">

                <p class="err" id="confirm-pass-err"></p>

            </div>

        </div>

        <button class="btn btn-primary">

            Update Password

        </button>

    </form>

    <div class="text-end">

        <a href="{{ url_for('auth.login') }}">

            ← Back to Login

        </a>

    </div>

</div>

<script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>

{% endblock %}