*{margin: 0;padding: 0;scrollbar-width: none;-ms-overflow-style: none;font-family: "Inter", sans-serif;}
:root{ --primary-color:#ffd;--secondary-color:rgba(127, 251, 255, 0.6);--border-color:rgb(127, 131, 255);
}
::selection{background-color: var(--secondary-color);}
::-moz-selection{background-color: var(--secondary-color);}
/* Menu Bar styling */

#menu-bar{background:linear-gradient(110deg,rgb(243, 244, 247) 70%,#fff 30%);cursor: pointer;display: flex;justify-items: center;
align-items: center;justify-content:start;padding:10px;border:2px dotted var(--border-color) ;
}
#menu-bar p{margin-left:4%;font-size:1.4em;color:darkblue;font-weight: 600;}
#main-logo{height:100px;width:100px;border-radius:50%;}
.nav-bar-links{display:none;border:2px solid var(--secondary-color);
}
.navbar-li{background:#fff;color: darkblue;font-size: 1.2em;font-weight: 400;
padding:12px;list-style: none;}
.nav-bar-links .navbar-li a {text-decoration:none;transition: 0.3s;border:1.2px solid rgb(147, 234, 250);
padding:15px;background-color: #fff;border-radius:10px;margin:0px;display: block;color: darkblue;
}
.nav-bar-links .navbar-li a:hover {color:rgb(58, 58, 6);}
.nav-bar-links.active{display:block;}
.nav-bar-links a.active {color:#fff;font-weight:400;background:linear-gradient(110deg,rgba(0, 98, 255,0.7) 50%,rgb(0, 200, 255) 50%);
}
.nav-bar-links a.active:hover{color:#fff;}
.navbar-li a i{margin-left:10px;margin-right:10px;}
/* main styling */
main{padding:20px;margin-bottom:70px;}
.temp{font-size:1.2em;color: crimson;}
/* topbar style */
#topbar-btn{position:fixed;right:20px;bottom:55px;padding:15px;font-size:1.2em;
display:none;outline:none;background-color: azure;border:2px dotted gray;border-radius:50%;
cursor:pointer;color: darkblue;}
/* footer styling */
#footer-para{text-align: center;color:darkblue;font-weight: 500;font-size: 1.4em;}

/* responsiveness */
@media (max-width:767px) {.nav-bar-links{border:1.5px solid rgb(1, 102, 165); margin:5px;
margin-top:35px;margin-bottom:0;padding-bottom:30px;padding-top:20px; background-color: #fff;
border-radius:10px;}#menu-bar{border-left:none;
border-right:none;border-top:none;}#footer-tag{border:1px dotted var(--border-color);padding:10px;}}

@media (min-width:768px) {#header-tag{position: sticky;top:0;z-index:100;}
#menu-bar{border:1.2px dotted rgb(1, 102, 165);} .nav-bar-links{ width:20%;height:100%;position: fixed;background-color:#fff;z-index:100;
border:1.2px dotted rgb(1, 102, 165);border-top-style: hidden;height: calc(100vh - 120px);overflow-y: auto;
overflow-x: hidden;scrollbar-width: none;-ms-overflow-style: none;}#footer-tag{position:fixed;background-color:#fff;bottom:0;
border: 1.2px dotted rgb(1, 102, 165);width: 100%;}#footer-para{padding:10px;z-index:90;width: 100%;margin-top:0;}
.nav-bar-links::-webkit-scrollbar {display: none;}}

